* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0b0b0b;
    color: white;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    ),
    url('https://images.unsplash.com/photo-1585386959984-a41552231693');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    text-align: center;
    max-width: 600px;
    padding: 20px;
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    letter-spacing: 3px;
}

.tagline {
    font-size: 1.2rem;
    margin: 15px 0;
    color: #c9a14a;
}

.description {
    color: #b3b3b3;
    font-size: 1rem;
    margin-bottom: 30px;
}

/* WHATSAPP BUTTON */
.whatsapp-btn {
    padding: 15px 35px;
    border: none;
    background-color: #c9a14a;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s ease;
}

.whatsapp-btn:hover {
    background-color: white;
}

.input-label {
    display: block;
    text-align: left;
    font-size: 0.85rem;
    color: #b3b3b3;
    margin: 10px 0 5px;
}

/* PRODUCTS */
.products {
    padding: 80px 20px;
}

.section-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: auto;
}

.product-card {
    background: #111;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card h3 {
    margin: 15px 0 10px;
}

.price {
    color: #c9a14a;
    margin-bottom: 10px;
}

.product-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    text-align: center;
}

.product-card button {
    padding: 12px 30px;
    border: none;
    background-color: #c9a14a;
    color: black;
    border-radius: 25px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: white;
}